.projects-container img {
  border-radius: 15px;
  box-shadow: 1px 2px 2px white;
  padding: 1px;
}

.projects a {
  background-color: #303b2e;
  color: white;
  cursor: pointer;
  font-size: 15px;
  padding: 5px;
  margin-right: 5px;
  text-decoration: none;
}

.buttons-right {
  display: flex;
  justify-content: flex-end;
  padding: 3px;
}

.buttons {
  padding: 3px;
}
